.one-product__slider{
    width: 40%;
    margin-right: 40px;
}

.one-product__parameters{
    margin-bottom: 15px;
    font-weight: 600;
}

.one-product__param-title{
    margin-right: 10px;
    color: rgba(178, 181, 187, 1);

}

.one-product__param-value{
    text-transform: capitalize;
}



@media (max-width: 768px) {
    .one-product__content{
        flex-wrap: wrap;
    }
    .one-product__parameters, .one-product__slider{
        width: 100%;
    }
    .one-product__slider{
        padding-bottom: 60px;
    }
}