:root{
    --gutter: 30px;

    --h1: 36px;
    --h2: 30px;
    --h3: 24px;
    --paragraph: 16px;
    --price: 20px;
    --button: 16px;
    --menu: 14px;


    --bg:#484283;
    --accent:#F14F4F;
    --text:#444B58;
    --text-primary:#FFFFFF;
    --smallText:#DBBBA9;
    --secBg:#FFF4EE;
    --gray:#B2B5BB
}

html{
    height: 100%;
}

body{
    line-height: 1.4;
    color:var(--text)
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: calc(8.3% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-2 {
    width: calc(16.66% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-3 {
    width: calc(25% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-4 {
    width: calc(33.33% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-5 {
    width: calc(41.66% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-6 {
    width: calc(50% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-7 {
    width: calc(58.33% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-8 {
    width: calc(66.66% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-9 {
    width: calc(75% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-10 {
    width: calc(83.33% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-11 {
    width: calc(91.66% - var(--gutter));
    padding:0 15px;
    margin: 0;
}
.col-12 {
    width: calc(100% - var(--gutter));
    padding:0 15px;
    margin: 0;
}

@media screen and (max-width:992px) {
    .container {
        max-width: 100%;
    }
    .col-lg-1 {
        width: calc(8.3% - var(--gutter));
    }
    .col-lg-2 {
        width: calc(16.66% - var(--gutter));
    }
    .col-lg-3 {
        width: calc(25% - var(--gutter));
    }
    .col-lg-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-lg-5 {
        width: calc(41.66% - var(--gutter));
    }
    .col-lg-6 {
        width: calc(50% - var(--gutter));
    }
    .col-lg-7 {
        width: calc(58.33% - var(--gutter));
    }
    .col-lg-8 {
        width: calc(66.66% - var(--gutter));
    }
    .col-lg-9 {
        width: calc(75% - var(--gutter));
    }
    .col-lg-10 {
        width: calc(83.33% - var(--gutter));
    }
    .col-lg-11 {
        width: calc(91.66% - var(--gutter));
    }
    .col-lg-12 {
        width: calc(100% - var(--gutter));
    }
}
@media screen and (max-width:768px) {
    .col-md-1 {
        width: calc(8.3% - var(--gutter));
    }
    .col-md-2 {
        width: calc(16.66% - var(--gutter));
    }
    .col-md-3 {
        width: calc(25% - var(--gutter));
    }
    .col-md-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-md-5 {
        width: calc(41.66% - var(--gutter));
    }
    .col-md-6 {
        width: calc(50% - var(--gutter));
    }
    .col-md-7 {
        width: calc(58.33% - var(--gutter));
    }
    .col-md-8 {
        width: calc(66.66% - var(--gutter));
    }
    .col-md-9 {
        width: calc(75% - var(--gutter));
    }
    .col-md-10 {
        width: calc(83.33% - var(--gutter));
    }
    .col-md-11 {
        width: calc(91.66% - var(--gutter));
    }
    .col-md-12 {
        width: calc(100% - var(--gutter));
    }
}
@media screen and (max-width:576px) {
    .col-sm-1 {
        width: calc(8.3% - var(--gutter));
    }
    .col-sm-2 {
        width: calc(16.66% - var(--gutter));
    }
    .col-sm-3 {
        width: calc(25% - var(--gutter));
    }
    .col-sm-4 {
        width: calc(33.33% - var(--gutter));
    }
    .col-sm-5 {
        width: calc(41.66% - var(--gutter));
    }
    .col-sm-6 {
        width: calc(50% - var(--gutter));
    }
    .col-sm-7 {
        width: calc(58.33% - var(--gutter));
    }
    .col-sm-8 {
        width: calc(66.66% - var(--gutter));
    }
    .col-sm-9 {
        width: calc(75% - var(--gutter));
    }
    .col-sm-10 {
        width: calc(83.33% - var(--gutter));
    }
    .col-sm-11 {
        width: calc(91.66% - var(--gutter));
    }
    .col-sm-12 {
        width: calc(100% - var(--gutter));
    }
}

.ml-auto{
    margin-left: auto!important;
}

.mr-auto{
    margin-right: auto!important;;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.vertical-navbar ul{
    display: flex;
    list-style: none;
    gap: 36px;
}

.vertical-navbar a{
    color:#000;
    text-decoration: none;
    border-bottom: none;
    font-weight: 600;
    font-size: 14px;
    color:var(--text-primary);
    white-space: nowrap;
}


.header-wrapper{
    background-color: var(--bg);
    padding-top: 11px;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-end{
    justify-content: start;
}

.justify-content-between{
    justify-content: space-between;
}
.align-items-end{
    align-items: end;
}
.align-items-center{
    align-items: center;
}

.align-self-end{
    align-self: end;
}

.align-self-start{
    align-self: start;
}

.hr{
    margin: 0;
    opacity:0.5;
    background: #484283;
}


.button{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 22px 42px;
    border-radius: 4px;
}
.button.primary{
    background: var(--accent);
    color:var(--text-primary);
}

.button.secondary{
    background: var(--text);
    color:var(--text-primary);
}

.button--outline{
    background: transparent!important;
    border: 1px solid var(--text);
    color: var(--text)!important;
    font-weight: 400;
    padding-top: 13px!important;
    padding-bottom: 13px!important;
}

.h1{
    font-size:var(--h1);
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--text-primary);
}

.h2{
    font-size:var(--h2);
}

.hero-banner__content{
    color: var(--text-primary);
    padding: 75px 15px 90px 15px;
}

.hero-banner__button-wrapper{
    margin-left: 15px;
}

.hero-banner__description{
    margin-bottom: 40px;
    font-weight: 600;
}

.px-0{
    padding-left: 0;
    padding-right: 0;
}


.filter__title{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}

.filter__wrapper{
    background: var(--secBg);
    padding: 16px 20px 22px 20px;
    color: var(--text);
}

.filter__reset{
    display: flex;
    justify-content: center;
    padding: 37px 0 10px 0;
}

.catalog{
    margin: 50px auto 53px auto;
}

.catalog__filter{
    width: calc(26.667% - 40px);
    padding-right: 20px;
    padding-left: 20px;

}
.catalog__wrapper{
    width: calc(73.333%);
}

.catalog__title{
    padding-left:15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.catalog .catalog__button{
   padding-top: 5px;
}

.filter__table {
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    font-weight:  600;
    font-size:  16px;
    border:  0.5px solid var(--smallText);
    margin-bottom: 30px;
}

.filter__table-title{
    font-weight: 600;
}
.filter__cell {
    flex:  0  0 50%;
    box-sizing: border-box;

    border:  0.5px solid var(--smallText);
    text-align: center;
    width: 50%;
}
.filter__cell input[type="checkbox"] {
    opacity:  0;
    position: absolute;
}
.filter__cell label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 16px 0;
    width:  100%;
}
.filter__cell input[type="checkbox"]:checked + label {
    background-color: var(--accent);
}
.card{

}

.card__img{
    width: 100%;
}

.card__title{
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.catalog__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px;
    row-gap: 12px;
    margin-bottom: 20px;
}
.about-us{
    height: 580px;
    background-position: left top, 85%;
    background-repeat: no-repeat;
    background-color: var(--bg);

}

.about-us__content{
    color: var(--text-primary);
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 20px;
    padding-left: 25px;
}
.about-us__col{
    position: relative;
}
.about-us__title{
    font-weight: bold;
}
.about-us__paragraph{
    margin-top: 10px ;
    font-weight: 600;
}

.cite{
    display: flex;
    position: absolute;
    bottom: -50px;
    right: -40px;
    font-size: 20px;
    font-weight: 700;
}

.cite hr{
    width: 30px;
    height: 2px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 6px;
    background: var(--text-primary);
}

.multistepform{
    background: var(--secBg);
    padding: 40px 100px;
    border-radius: 4px;
    margin: 62px 5px;
}

.multistepform__title{
    font-weight: 700;
    font-size:30px;
    color:var(--text);
    margin-bottom: 10px;
}

.multistepform__description{
    font-size: 16px;
    color:#808080;
    font-weight: 600;
}

.multistepform hr{
    background-color:#808080;
}
.multistepform__hr-header{
    margin-top: 0;
}
.multistepform__hr-footer{
    margin-top: 35px;
}

.our-team__chunk{
    margin-bottom: 10px;
}


.our-team__gap{
    margin-top: 90px;
}

input[type="checkbox"] {
    appearance: none;
    display: inline-block;
    visibility: hidden;
}

input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    width:  16px;
    height:  16px;
    margin-right:  10px;
    background-color: #fff;
    border:  1px solid #000;
    vertical-align: middle;
    transition: background-color  0.3s ease;
}

input[type="checkbox"]:checked::before {
    background-color: #000;
}

input[type="checkbox"]:focus::before {
    outline: auto  3px Highlight;
    outline: auto  3px -webkit-focus-ring-color;
}

input[type="checkbox"]:disabled::before {
    background-color: #eee;
    cursor: not-allowed;
}

.card_form__custom_checkbox {
    position: relative;
    display: inline-block;
    width:  24px;
    height:  24px;
    background-color: var(--secBg);
    border:  1px solid var(--smallText);
    border-radius:  4px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

/* Состояние "checked" для чекбокса */
.card_form__input:checked ~ .card_form__custom_checkbox {
    background-color: var(--smallText);
    border-color: var(--smallText);
}

.card_form__input {
    position: absolute;
    opacity:  0;
    cursor: pointer;
}

/* Анимированный чек-значок */
.card_form__input:checked ~ .card_form__custom_checkbox:after {
    content: '';
    position: absolute;
    width:  5px;
    height:  10px;
    border: solid white;
    border-width:  0  2px  2px  0;
    transform: rotate(45deg);
    top:  50%;
    left:  50%;
    margin-top: -5px;
    margin-left: -2px;
}

label {
    display: inline-block;
    cursor: pointer;
}

.card_form{

}

.card_form__img{
    width: 100%;
}

.form__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 70px;
    row-gap: 20px;
}
.form__title{
    font-size: 24px;
    color: var(--text);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card_form__title{
    font-size: 16px;
    display: flex;
    align-items: end;
    margin-top: 5px;
    font-weight: 600;
}

.multistepform__footer{
    margin-top: 20px;
    align-items: end;
    color:#808080;
}

.our-team{
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 120px;
    color: var(--text-primary);
    background-color: var(--bg);
}
.our-team__title{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.our-team__chunk img{
    min-height: calc(33vw - 75px);
    border-radius: 5px;
}
.our-team__col{
    width: calc(33.333% - 20px);
    padding: 10px;
}

.faq{
    padding:35px 280px 95px 280px;
}
.faq__item{
    border-bottom: 1px solid var(--text);
    cursor: pointer;
}

.faq__item-title{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 12px;
    color:#242424;
    transition: 0.2s;
}

.faq__item-title svg{
    transition: 0.2s;
}

.faq__item-title.active svg{
    transform: rotate(45deg);
    transition: 0.2s;
}

.faq hr{
    height: 0px;
    background-color: var(--text);
    margin: 0;
}

.faq__content p{
    font-size:16px;
    color:#242424;
    opacity: 0.5;
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 0;
    transition: opacity 400ms linear, max-height 400ms linear;
    will-change: opacity, max-height;
}

.faq__content{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 400ms linear, max-height 400ms linear;
    will-change: opacity, max-height;
}
.faq__content.open{
    opacity: 1;
    max-height: 100%;
    transition: all 400ms linear;
    will-change: opacity, max-height;
}

.footer{
    padding-top: 16px;
    padding-bottom: 10px;
    background-color: var(--text);
}

.price{
    font-size: var(--price);
}

.cart__container{
    position:relative;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.cart__counter{
    top: 10px;
    right: -6px;
    position:absolute;
    background-color: #F14F4F;
    color: var(--text-primary);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-top: 1px;
    align-items: center;
}

.cart__title{
    margin-right: 40px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-primary);
}

.cart__icon-wrapper{
    position:relative;
}