.error-banner {
    padding: 10px;
    margin: 10px;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    display: flex;
    align-items: center;
}

.error-banner__ico {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    margin-right: 5px;
}