.hero-banner__content{
    color: var(--text-primary);
    padding: 75px 15px 90px 15px;
}

.hero-banner__button-wrapper{
    margin-left: 15px;
}

.hero-banner__description{
    margin-bottom: 40px;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .hero-banner__background{
        background-position: 0 76%!important;
        background-size: contain!important;
    }
}

@media (max-width: 520px) {
    .hero-banner__background{
        background-image: none!important;
    }
}